<div class="u-wrapper">
  <div class="u-title">U7</div>
  <div class="u-groups-wrapper">
    <div class="u-group-wrapper">
      <div class="u-group-title">Grupo A</div>
      <app-group [sheet]="'U7_GA'" />
    </div>
    <div class="u-group-wrapper">
      <div class="u-group-title">Grupo B</div>
      <app-group [sheet]="'U7_GB'" />
    </div>
  </div>
</div>

<div class="u-wrapper">
  <div class="u-title">U9</div>
  <div class="u-groups-wrapper">
    <div class="u-group-wrapper">
      <div class="u-group-title">Grupo A</div>
      <app-group [sheet]="'U9_GA'" />
    </div>
    <div class="u-group-wrapper">
      <div class="u-group-title">Grupo B</div>
      <app-group [sheet]="'U9_GB'" />
    </div>
  </div>
</div>
