<div class="app-header">
  <img class="logo" src="assets/images/couracup.png" (click)="goToHome()" />
  <div class="title-wrapper">
    <span class="title" (click)="refresh()">{{ title }}</span>
  </div>
</div>
<div class="app-body">
  <router-outlet></router-outlet>
</div>
<div class="app-footer" *ngIf="false">
  <!-- <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of slidesStore">
      <ng-template carouselSlide [width]="100">
        <img [src]="slide" />
      </ng-template>
    </ng-container>
  </owl-carousel-o> -->
</div>
