<ng-container *ngIf="ready$ | async"
  ><div class="u-title jogos">JOGOS</div>
  <div class="u-group-wrapper campo1">
    <div class="u-group-title">CAMPO 1</div>
    <app-matches [data]="campo1"></app-matches>
  </div>
  <div class="u-group-wrapper campo2">
    <div class="u-group-title">CAMPO 2</div>
    <app-matches [data]="campo2"></app-matches>
  </div>
  <div class="u-title classificacao">CLASSIFICAÇÃO</div>
  <div class="u-table-wrapper grupo1">
    <div class="u-table-title">GRUPO G</div>
    <app-table [data]="grupo1" />
  </div>
  <div class="u-table-wrapper grupo2">
    <div class="u-table-title">GRUPO H</div>
    <app-table [data]="grupo2" />
  </div>
  <div class="u-table-wrapper grupo3">
    <div class="u-table-title">GRUPO I</div>
    <app-table [data]="grupo3" />
  </div>
  <div class="u-table-wrapper grupo4">
    <div class="u-table-title">GRUPO J</div>
    <app-table [data]="grupo4" />
  </div>
  <div class="u-table-wrapper grupo5">
    <div class="u-table-title">GRUPO K</div>
    <app-table [data]="grupo5" />
  </div>
  <div class="u-table-wrapper grupo6">
    <div class="u-table-title">GRUPO L</div>
    <app-table [data]="grupo6" />
  </div>
  <div class="u-title jogos1">JOGOS</div>
  <div class="u-group-wrapper campo3">
    <div class="u-group-title">CAMPO 1</div>
    <app-matches [data]="campo3"></app-matches>
  </div>
  <div class="u-group-wrapper campo4">
    <div class="u-group-title">CAMPO 2</div>
    <app-matches [data]="campo4"></app-matches>
  </div>
  <div class="u-title classificacao1">CLASSIFICAÇÃO</div>
  <div class="u-table-wrapper grupo7">
    <div class="u-table-title">GRUPO M</div>
    <app-table [data]="grupo7" />
  </div>
  <div class="u-table-wrapper grupo8">
    <div class="u-table-title">GRUPO N</div>
    <app-table [data]="grupo8" />
  </div>
  <app-matches [data]="final" [title]="'FINAL'" class="final"></app-matches>
</ng-container>
