<ng-container *ngIf="ready$ | async"
  ><div class="u-title jogos">JOGOS</div>
  <div class="u-group-wrapper campo1">
    <div class="u-group-title">CAMPO 1</div>
    <app-matches [data]="campo1"></app-matches>
  </div>
  <div class="u-group-wrapper campo2">
    <div class="u-group-title">CAMPO 2</div>
    <app-matches [data]="campo2"></app-matches>
  </div>
  <div class="u-title classificacao">CLASSIFICAÇÃO</div>
  <div class="u-table-wrapper grupo1">
    <div class="u-table-title">GRUPO A</div>
    <app-table [data]="grupo1" />
  </div>
  <div class="u-table-wrapper grupo2">
    <div class="u-table-title">GRUPO B</div>
    <app-table [data]="grupo2" />
  </div>
  <div class="u-table-wrapper grupo3">
    <div class="u-table-title">GRUPO C</div>
    <app-table [data]="grupo3" />
  </div>
  <div class="u-table-wrapper grupo4">
    <div class="u-table-title">GRUPO D</div>
    <app-table [data]="grupo4" />
  </div>
  <app-matches [data]="quartos1" [title]="'QUARTOS DE FINAL'"></app-matches>
  <app-matches [data]="meias1" [title]="'MEIAS FINAIS'"></app-matches>
  <app-matches [data]="quartos2" [title]="'QUARTOS DE FINAL'"></app-matches>
  <app-matches [data]="meias2" [title]="'MEIAS FINAIS'"></app-matches>
  <app-matches [data]="terceiros" [title]="'TERCEIROS/QUARTOS'"></app-matches>
  <app-matches [data]="final" [title]="'FINAL'"></app-matches>
</ng-container>
